<div class="row">
  <br>
  <div class="col-md-2 col-sm-3 text-center">
    <%= image_tag("bvsjlogo.jpg", height: "50%", width: "50%") %>

  </div>
  <div class="col-md-10 col-sm-9">
    <h3>Become a HERO</h3>
    <div class="row">
      <div class="col-xs-9">
          <p>Is there a skill or an interest that you would like to learn?</p>
          <p>Do you have a skill or a particular interest that you would like to share?</p>
          <p>Are you willing to conduct (2) or (3) 1.5hr workshops every 6 months sharing that skill?</p>
          <p>Everyone is a H.E.R.O.!!!</p>
          <p>Currently we have 6 different locations in the Clinton Hill, Prospect Heights and Bedford Stuyvesant areas within our network to host H.E.R.O workshops</p>

          <a href="/workshops/new" class="btn btn-primary">Start a Workshop</a>

      </div>
      <div class="col-xs-3">
      </div>
    </div>
    <br><br>
  </div>
</div>
<hr>
