<div class="container">
  <div class="row">
    <br>
    <div class="col-md-2 col-sm-3 text-center">
      <%= image_tag("bvsjlogo.jpg", height: "50%", width: "50%") %>

    </div>
    <div class="col-md-10 col-sm-9">
      <h3>A project of Black Veterans for Social Justice</h3>
      <div class="row">
        <div class="col-xs-9">
          <h4><span class="label label-default"><a class="plain" href="http://www.bvsj.org">BVSJ.org</a></span></h4>
        </div>
        <div class="col-xs-3">
        </div>
      </div>
      <br><br>
    </div>
  </div>
</div>


