<h1>Users</h1>
<a href="/admin/users/new" class="btn btn-primary">Create User</a>

<table class="table table-bordered table-hover table-striped table-condensed">
    <thead>
        <tr>
            <th>Email</th>
            <th>Role</th>
            <th>Region</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <%= render partial: "user", collection: @users %>
    </tbody>
</table>
